# **Data Types and Structures**

Q1. What are data structures, and why are they important?

Ans. Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They provide a means to manage large amounts of data for various computational tasks.

  Data structures are important because they:
  - **Improve Efficiency**
  - **Organize Data**
  - **Enhance Performance**
  - **Enable Scalability**
  - **Solve Complex Problems**

Data Structures ensure that programs run effectively, even when dealing with substantial data.

Q2. Explain the difference between mutable and immutable data types with examples.

Ans. Mutable data types are those that can be changed after they are created, while immutable data types cannot be changed once created.

  For Example:
  - Lists, dictionaries, sets are mutable
  - strings, tuples, frozensets are immutable

Q3. What are the main differences between lists and tuples in Python?

Ans.  

a. list can be changed, list is mutable. Whereas, Tuples are immutable.    
b. Lists Syntax - defined with square bracket [ ] and tuple with parenthesi ().  
c. There are more methods avaiable for modificaiton in lists as compared with tuples.

Q4. Describe how dictionaries store data.

Ans. Dictionaries in Python store data as key-value pairs. They are similar to real-life dictionaries where we look up a word (key) to find its definition (value).

Q5. Why might you use a set instead of a list in Python?

Ans. Though, sets stores the data in unordered manner which is contrary to  Lists which maontains the sequence of elements inserted. Still, we might chose sets over lists when we want to ensure the uniqueness of all the elements, that sets does automatically. it is especially useful when we need to eliminate duplicates from a collection of items. Whereas, lists allows duplicate elements.

Q6. What is a string in Python, and how is it different from a list?

Ans. A string in Python is a sequence of characters, such as letters, numbers, and symbols, enclosed in single or double quotes - "". Essentially, strings are used to represent text data.

Difference b/w String and List:

1. String is an Immutable data structure whereas, Lists is Mutable.
2. String holds charachters as data type, whereas Lists can hold any data type.
3. String is used for texts, whereas List is used for collection of items.
4. String is enclosed in quotes, and List in square brackets.

Q7. How do tuples ensure data integrity in Python?

Ans. Tuples in Python are immutable collections, meaning once they're created, their elements can't be changed. This immutability ensures data integrity by preventing accidental modifications, making tuples reliable for storing constant data.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that enables efficient storage and retrieval of key-value pairs, and Python's dict is an implementation of a hash table, providing fast and efficient data access.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists in Python can contain different data types. list even allow us to store a mix of integers, floats, strings, objects, and even other lists or dictionaries.

Q10. Explain why strings are immutable in Python.

Ans. Strings in Python are immutable to make them reliable and efficient.

  Reasons for Immutability

  - Memory Efficiency: Immutability allows Python to store just one copy of each unique string, saving memory.

  - Consistency: Since strings can't be changed, we always know the string's contents will remain the same throughout your program.

  - Security: It prevents accidental changes, ensuring your string data stays safe.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries and lists both have their uses, but dictionaries offer some significant advantages for certain tasks:

1. Key-Value Pairs : Dictionaries allows us to store data as key-value pairs, making it easy to access the value associated with a given key. This is particularly useful for structured data. Whereas, Lists store items sequentially without key-value pairing, which might be less intuitive for some data structures.

2. Flexible Data Types : in Dictionaries, keys can be of any immutable type that offers flexibility in how we organize our data. Whereas, List elements are accessed by numeric indices, which can limit how we conceptualize and organize our data.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans. Like in a scenario of a Spice Blend tuples would be preferable over list.

  - Immutability: The recipe proportions should not change. Using a tuple ensures that our spice blend stays consistent every time someone make it.

  - Packaging and Storing: When we package this blend for later use, we want to ensure no one accidentally alters the ratio. Tuples help maintain the integrity of our blend.

  - Performance: Tuples take up less space and are quicker to access, making our recipe reference more efficient.

Q13. How do sets handle duplicate values in Python?

Ans. In Python, sets automatically handle duplicate values by ensuring that each element within the set is unique. And if we even try to add a duplicate element to a set, it will be ignored, and no duplicates will be stored.

Q14. How does the "in" keyword work differently for lists and dictionaries?

Ans. For Lists the "in" keyword checks if a specific value is present in the list. And for Dictionaries the "in" keyword checks if a specific key is present in the dictionary, not the values.

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we cannot modify the elements of a tuple. Tuples are designed to be immutable in Python, meaning once they are created, their content cannot be changed. Immutability ensures the data in a tuple remains constant and reliable throughout the program, reducing the risk of accidental changes.

Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary that contains one or more dictionaries as values. This allows for storing complex data structures and creating hierarchical relationships within our data.

For instance:

  - Schools: Grades -> Students -> Student details
  - Companies: Departments -> Teams -> Employee details
  - Projects: Phases -> Tasks -> Task details

Q17. Describe the time complexity of accessing elements in a dictionary.

Ans. Not taught so far.

Q18. In what situations are lists preferred over dictionaries?

Ans. We might chose List over dictionaries if:

  - The order of elements is important.
  - There might be duplicate items.
  - We need simple collections of items.
  - We need to access items by their position.
  - We're dealing with homogeneous data.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries are considered unordered because they do not store elements in a specific sequence. Instead, they use a hash-based structure to manage key-value pairs.

And since dictionaries do not maintain an intrinsic order, we can’t access items by position or expect them to stay in a specific order when iterating. Instead, we always access values by their keys.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. While both lists and dictionaries are crucial data structures in Python, they differ significantly when it comes to data retrieval:

Lists

Indexed Access: Elements in a list are accessed by their index, which represents the position of the element within the list.

Dictionaries

Key-Based Access: Elements in a dictionary are accessed by keys, which are mapped to values using a hash function. This means data retrieval is done directly via the key, not by position.

# **Practical Questions**

1.	Write a code to create a string with your name and print it.

In [1]:
my_name = "anurag"
print(my_name)

anurag

2.	Write a code to find the length of the string "Hello World".

In [2]:
msg = "Hello World"
len(msg)

11

3.	Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
a = "Python Programming"
a [3:]

'hon Programming'

4.	Write a code to convert the string "hello" to uppercase.

In [7]:
msg = "hello"
msg.upper()

'HELLO'

5.	Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
x = "I like apple"
x.replace("apple", "orange")

'I like orange'

6.	Write a code to create a list with numbers l to 5 and print it.

In [11]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7.	Write a code to append the number 10 to the list [1, 2, 3, 4].

In [17]:
my_list1 = [1,2,3,4]
my_list1.append(10)
my_list1

[1, 2, 3, 4, 10]

8.	Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [21]:
nos = [1,2,3,4,5]
nos.remove(3)
nos

[1, 2, 4, 5]

9.	Write a code to access the second element in the list ['a', 'b', ·c·, 'd'].

In [23]:
b = ['a','b','c','d']
b[1]

'b'

10.	Write a code to reverse the list [10, 20, 30, 40, 50 ].

In [24]:
abc = [10,20,30,40,50]
abc[::-1]

[50, 40, 30, 20, 10]

11.	Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [25]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

12.	Write a code to access the first element of the tuple ('apple', banana', 'cherry').

In [27]:
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

13.	Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [30]:
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

14.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [32]:
tup = ('dog','cat','rabbit')
tup.index('cat')

1

15.	Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [34]:
t = ('apple', 'orrange','banana')
'banana' in t

True

16.	Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

In [36]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17.	Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [39]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18.	Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [40]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

19.	Write a code to access the first element of the tuple ('apple', banana', 'cherry').

In [41]:
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

20.	Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [42]:
my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

21.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [43]:
tup = ('dog','cat','rabbit')
tup.index('cat')

1

22.	Write a code to check if the element "banana" is in the tuple ('apple', 'orange', banana').

In [44]:
t = ('apple', 'orrange','banana')
'banana' in t

True

23.	Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

In [45]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24.	Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [46]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}